.card{
    max-width: 387px;
    img{
        width: 100%;
    }
    .info{
        margin: 32px 0 12px;
        display: flex;
        gap: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #6941C6;
    }
    .title{
        margin-bottom: 12PX;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #1A1A1A;
        svg{
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        }
    }
    .description{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }
}