nav{
    padding: 23px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #090D1F;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    .navLeft{
        display: flex;
        align-items: center;
        gap: 36px;

        h1{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #1A1A1A;

        }

        ul{
            display: flex;
            align-items: center;
            gap: 14px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #1A1A1A;

                    &:hover, &.active {
                        color: #7F56D9;
                    }
                }
            }
        }
    }

    button{
    width: 120px;
    height: 38px;
    background-color: #7F56D9;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    &:hover{
    background-color: #6035be;
    }
}
}

@media screen and (max-width : 992px) {
nav{
    padding: 23px 12px;
    
    .navLeft{
        gap: 20px;
    }
    
    button{
    width: 60px;
    height: 32px;
}
}
}
