.hero{
    margin: 243px 0 174px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -2%;
        color: #1A1A1A;
    }
    p{
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #C0C5D0;
    }
    .subscribe{
        display: flex;
        align-items: center;
        gap:16px;
        input{
            padding: 12px 16px;
            width: 360px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #7F56D9;
            outline: none;
            &::placeholder{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #667085;

            }
        }
        button{
        width: 120px;
        height: 48px;
        background-color: #7F56D9;
        color: white;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        &:hover{
        background-color: #6035be;
        }
    }    
    }
}

@media screen and (max-width : 992px) {
    .hero{
    margin: 200px 0 174px; 
    text-align: center;

    p{
        font-size: 18px;       
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        input{
            width: 310px;
        }

    }
}
}